/*  CONTENTS
    Tip:  Find to jump
    ----------------------------
    =1.0  Web Fonts
    =2.0  Rem Reset
    =3.0  Base
    =4.0  Headings
    =5.0  Helpers
    --------------------------*/

    
/*  =1.0  WEB FONTS         
          Base layout and colors
    --------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


/*  =2.0  REM RESET      
          To work with rems
    --------------------------*/

html {
  font-size:                    62.5%;
}


/*  =3.0  BASE   
          Default text style
    --------------------------*/

body {
  @include type-body1();
  color:                        $text-color-default;
}

p, ul, ol, table {
  @include type-body1();

  margin:                       $type-body1-line-height * 1.5 0 $type-body1-line-height;
}

.lead {
  @include type-subheading1();
}

.caption {
  @include type-caption();
}

p img {
  display:                      block;
  // transform:                    scale(0.5);
  max-width:                    100%;
  height:                       auto;
}

blockquote p {
  @include type-subheading1();
}

hr {
  height:                       1px;
  margin:                       $ui-space-base * 8 0;
  padding:                      0;
  font-size:                    0;
  background-color:             $ui-border-color;
  color:                        transparent;
  border:                       0;
}

a {
  color:                        $link-color-default;
  text-decoration:              none;

  &:hover {
    color:                      darken($link-color-default, 12%);
  }
}

table {
  border:                       $ui-border-width solid $ui-border-color;
  border-collapse:              collapse;

  th, td {
    padding:                    $ui-space-base $ui-space-base * 2;
    border:                     $ui-border-width solid $ui-border-color;

    &:not([align="right"]),
    &:not([align="center"]) {
      text-align:               left;
    }

    &[align="right"] {
      text-align:               right;
    }

    &[align="center"] {
      text-align:               center;
    }
  }
}

code {
  border-radius:                $ui-space-base / 2;
  padding:                      $ui-space-base / 4 $ui-space-base / 2;
  margin:                       0 $ui-space-base / 4;
  background-color:             $brand-color-whisper;
  border:                       1px solid $brand-color-gray00;
  
  @include type-caption;

  font-family:                  $type-mono-family;
}


/*  =4.0  HEADINGS
          Should correspond to MD styles
    --------------------------*/

h1 {
  @include type-headline();

  @include media(">tablet") {
    @include type-display1();
  }
}

h2 {
  @include type-title();
  
  margin:                       $type-title-line-height * 1.5 0 $type-title-line-height;
}

h3 {
  @include type-subheading1();

  margin:                       $type-subheading1-line-height * 1.5 0 $type-subheading1-line-height;
}


/*  =5.0  HELPERS
          Usually used inline to style words and phrases
    --------------------------*/

.monospace {
  font-family:                  $type-mono-family;
}

.align-left {
  text-align:                   left;
}

.align-center {
  text-align:                   center;
}

.align-right {
  text-align:                   right;
}