<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ .Title }} &ndash; {{ .Site.Params.title }}</title>
  {{ $style := resources.Get "scss/main.scss" | resources.ToCSS | resources.postCSS | resources.Minify | resources.Fingerprint }}
  <link href="{{ $style.Permalink }}" rel="stylesheet">
</head>

<body>

  {{ partial "header.html" . }}

  <div class="doc-wrapper container container-flex container-fluid">

    {{ partial "sidebar.html" . }}

    <main>

      <section>
        <div class="container container-narrow">
          <h1>{{ .Title }}</h1>
          {{ if .Params.toc  }}
            {{ partial "toc.html" . }}
            <hr>
          {{ end }}
          {{.Content}}
        </div>
      </section>

      {{ partial "footer.html" . }}

    </main>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/pjax@VERSION/pjax.min.js"></script>
  {{ $plugins := resources.Get "vendor/js/plugins.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $js := slice $plugins $main | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $js.Permalink }}" type="text/javascript"></script>
</body>

</html>