<aside class="side-nav">

  <nav>
    <ul>
      {{ $currentPage := . }}
      <li class="{{if or ($currentPage.IsHome)}}menu-active{{end}}">
        <a href="/">Home</a>
      </li>
      {{ range .Site.Menus.docs }}
      <li class="{{if or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) }}menu-active{{end}}">
        <a href="{{ .URL }}" title="{{ .Title }}">
          {{ .Name }}
          {{ if .HasChildren }}<span class="menu-dropdown"></span>{{ end }}
        </a>
          {{ if .HasChildren }}
          <ul>
            {{ range .Children }}
            <li class="{{if ($currentPage.IsMenuCurrent "docs" .)}}menu-active{{end}}">
              <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
      </li>
      {{ end }}
    </ul>
  </nav>

</aside>