<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }}</title>
    <link href="/css/main.css"  rel="stylesheet">
  </head>
  <body id="top" class="page-index">

     {{ partial "header.html" . }}

    <div class="doc-wrapper container container-flex">

      {{ partial "sidebar.html" . }}

      <main>

        <section class="hero">
          <div class="container container-fluid">
            <h1>PFAS Design System</h1>
            <div class="hero-actions">
              <a href="#" class="btn">Explore</a>
            </div>
          </div>
        </section>

        <section>
          <div class="container container-fluid">
            <p>Auctor vestibulum lacus nunc potenti varius rutrum donec erat ornare mi hac fames natoque dui est euismod nascetur faucibus
          libero nostra amet a condimentum iaculis inceptos vestibulum ligula aptent. Scelerisque commodo ornare natoque scelerisque
          porttitor massa cras cursus vestibulum vestibulum a risus rhoncus parturient suspendisse curabitur a suspendisse. Est a suspendisse
          montes sociosqu massa nulla a scelerisque nisi habitant a sed neque natoque sociosqu ultricies consequat morbi fusce magnis
          commodo in parturient ad vestibulum. Curae a nascetur scelerisque lacinia eu cras lacinia euismod suspendisse a lacus dolor
          ullamcorper duis. Vel curabitur a hendrerit feugiat adipiscing montes nec a nec auctor cursus blandit tempor purus quam ornare
          et porta viverra sapien bibendum magna suspendisse eros parturient donec nullam parturient. Gravida parturient accumsan a
          pretium leo rhoncus vehicula penatibus mus adipiscing class nibh aliquam a a aliquam vestibulum vestibulum scelerisque parturient
          neque suspendisse. Ullamcorper scelerisque habitasse neque habitasse in interdum parturient condimentum dis mattis ullamcorper
          litora suspendisse fringilla ut adipiscing vivamus ullamcorper consectetur lacus in. Sapien laoreet felis molestie adipiscing
          condimentum ridiculus volutpat est fusce posuere est tortor duis tempor mi a a lacinia erat vestibulum condimentum. A adipiscing
          proin eu habitasse tortor ullamcorper vestibulum sit nostra conubia lacinia parturient himenaeos hac suspendisse parturient
          eleifend nullam penatibus. A ornare mi ridiculus vulputate duis ornare fames id nostra tellus vestibulum luctus aliquam iaculis
          donec arcu a. Ullamcorper arcu a et curabitur justo enim pulvinar vestibulum blandit vel commodo gravida at cum porttitor
          ultrices hendrerit scelerisque imperdiet consectetur iaculis. Turpis aliquet conubia suspendisse per imperdiet ad congue
          dolor etiam pulvinar dignissim nisl fringilla rhoncus vestibulum inceptos suscipit sagittis dapibus cras sem et ut a. Risus
          dui cum vulputate vivamus habitant bibendum a parturient id fringilla a adipiscing sit orci. Phasellus ipsum mi condimentum
          dui vestibulum parturient dictum at ad consectetur posuere fermentum commodo integer ultricies mi scelerisque himenaeos a.
          Id nulla gravida vel felis vehicula amet diam nisl varius placerat convallis vel imperdiet a magna parturient duis adipiscing.
          Nibh a etiam fusce scelerisque gravida curae pulvinar cum metus tincidunt aenean dolor natoque elit orci orci potenti turpis
          interdum a a nam mus lectus condimentum nascetur adipiscing urna. Ipsum eget ad mollis mi in adipiscing quisque scelerisque
          vestibulum a a tellus eros enim vivamus phasellus adipiscing a cum ut mus commodo. Praesent leo tempus imperdiet scelerisque
          viverra netus conubia a scelerisque non consectetur a fusce a rhoncus porta libero augue curabitur sodales tempus venenatis
          parturient erat. Dui torquent condimentum rutrum consectetur volutpat porta semper adipiscing malesuada suspendisse scelerisque
          condimentum lacus a vestibulum nam scelerisque risus maecenas adipiscing aptent viverra. A tellus arcu scelerisque ante ultricies
          adipiscing facilisi iaculis himenaeos at mollis senectus himenaeos scelerisque mi a. Suscipit ut lacus in quis est cubilia
          metus quisque parturient et metus ac aenean volutpat cras curae molestie leo fusce vestibulum at. Parturient sapien a duis
          nam tristique dignissim himenaeos parturient mollis id ac massa vel vestibulum est aliquam at dolor condimentum. At erat
          nunc integer at aliquam fames eu tristique ad feugiat mus enim proin at scelerisque malesuada vehicula etiam class eu a per
          congue fusce erat a adipiscing erat. Praesent dignissim at eu id mi inceptos aliquam in adipiscing scelerisque magnis viverra
          suspendisse ut pulvinar sociosqu vestibulum netus in consectetur a malesuada class pretium ultrices eleifend. Dictumst dolor
          libero augue vestibulum nisl cum scelerisque proin vestibulum rhoncus in lacinia habitasse nibh torquent id nec consectetur
          a integer. In elit lorem neque facilisi consectetur aptent sociis facilisi aptent et condimentum non quisque eros ullamcorper
          imperdiet adipiscing. Mi natoque posuere diam parturient ullamcorper a ullamcorper at habitant mollis feugiat consectetur
          cubilia nisi habitasse at a. A a sodales sagittis parturient a faucibus cubilia metus adipiscing eu nam adipiscing scelerisque
          condimentum suscipit eu nam a. Tellus ullamcorper cum mi montes proin augue hendrerit praesent in a mi a urna potenti hendrerit
          facilisi consectetur netus nibh vestibulum. A a elit ac felis cum habitasse morbi quam taciti felis a potenti a ullamcorper
          facilisis vestibulum dui netus suscipit euismod condimentum parturient nec. At adipiscing duis viverra nostra bibendum arcu
          a erat integer risus dictum rutrum vestibulum lectus vestibulum curae volutpat facilisis erat taciti. Adipiscing adipiscing
          scelerisque hac laoreet suspendisse class curabitur ligula libero nam scelerisque in condimentum parturient a aliquet volutpat
          eget lobortis vestibulum netus vehicula mollis a. Lacinia condimentum a suspendisse fringilla a lacus porta ultricies conubia
          non laoreet sagittis penatibus condimentum metus lacinia consectetur ridiculus parturient non. Suspendisse metus vestibulum
          adipiscing consectetur risus mus parturient at parturient phasellus hac mi fusce a mi dui. Molestie libero diam suspendisse
          condimentum vel iaculis tristique vehicula consectetur habitant egestas viverra mi montes parturient penatibus orci eleifend
          taciti ridiculus a magnis ullamcorper praesent elit. A pulvinar ultricies scelerisque scelerisque molestie natoque netus
          ut condimentum elementum taciti suspendisse scelerisque id condimentum at. Metus tincidunt faucibus nibh leo phasellus nunc
          a dolor nunc tellus odio amet a blandit lectus urna. Per ad adipiscing dignissim bibendum a vel vestibulum vulputate amet
          laoreet facilisi et integer a quisque parturient parturient neque lacinia suspendisse proin praesent. Dis commodo dis vestibulum
          a cras nam dis ultricies ac condimentum cum phasellus parturient ornare condimentum arcu cum suspendisse parturient parturient
          a inceptos et lobortis. Suspendisse volutpat orci adipiscing egestas augue fames ullamcorper fermentum class vivamus sodales
          potenti a enim. Adipiscing in sociis a vestibulum ullamcorper placerat suspendisse pretium vestibulum a in ad venenatis nam
          conubia suspendisse cum id a. Suspendisse magnis urna molestie conubia lacinia potenti suspendisse parturient parturient
          vestibulum vulputate praesent laoreet etiam diam viverra sagittis. Scelerisque justo leo ullamcorper consectetur orci sed
          suspendisse vestibulum a ullamcorper convallis sem accumsan sagittis nascetur. Tempor ac suspendisse scelerisque quis est
          faucibus eu praesent dui condimentum ullamcorper consectetur a a dis interdum id vel vehicula adipiscing suspendisse imperdiet
          scelerisque volutpat adipiscing ullamcorper. A parturient semper rhoncus aliquet sociosqu platea tempor nisl condimentum
          dictum vel a adipiscing fames arcu luctus duis vestibulum nam. Ac scelerisque faucibus ante habitasse integer vehicula egestas
          mi ridiculus fames varius consequat suscipit nisl vestibulum. Magnis iaculis adipiscing condimentum orci at scelerisque accumsan
          tellus vestibulum faucibus magnis dictum a laoreet cubilia at id himenaeos montes condimentum parturient potenti congue suspendisse
          id a. A facilisi aptent mi maecenas integer a parturient mus vehicula ultricies rhoncus ut diam ante faucibus dolor faucibus
          ut mi molestie enim nibh facilisi magnis a cum. Adipiscing cras vel euismod iaculis mollis scelerisque pretium parturient
          nam ac semper habitasse conubia suspendisse congue fermentum a a at etiam commodo a in cras. Fames ligula cras praesent bibendum
          a montes tellus parturient lobortis sem facilisis adipiscing fringilla suscipit eu a quam pulvinar sed feugiat at malesuada
          a ullamcorper. Nunc justo urna arcu quam per consectetur tellus parturient parturient habitant ultricies a class condimentum
          cum natoque elementum parturient feugiat aenean sem. Posuere a ridiculus phasellus varius id scelerisque porta netus donec
          inceptos adipiscing ligula posuere semper nec dictumst parturient adipiscing himenaeos a scelerisque. Massa a enim eros a
          curabitur ad nascetur dictumst orci suscipit eleifend scelerisque ridiculus ut ullamcorper aliquet ad id diam augue in mattis
          parturient vestibulum a mi. Nulla congue a iaculis elementum suscipit vestibulum vestibulum commodo consectetur eros et vestibulum
          per a lobortis orci ut elit faucibus orci elit phasellus praesent habitant. Dolor nostra in fringilla parturient ac quis
          ullamcorper a ad eleifend per sed donec condimentum. Taciti pulvinar suspendisse convallis adipiscing vestibulum enim senectus
          varius dui parturient netus et egestas amet suspendisse suspendisse parturient adipiscing nec auctor ornare sapien lacinia.
          Ut nibh fringilla viverra nostra consectetur a consequat commodo parturient in diam suspendisse consectetur quisque facilisi.
          Hac convallis euismod senectus vestibulum lacinia etiam sociis elementum ut a adipiscing in vestibulum risus volutpat nec
          tortor ullamcorper lacus scelerisque augue cubilia per vestibulum sed.</p>
          </div>
        </section>

        {{ partial "footer.html" . }}

      </main>

    </div>

    <script src="/js/main.js" type="text/javascript"></script>
  </body>
</html>