/*  CONTENTS
    Tip:  Find to jump
    ----------------------------
    =1.0  Form
    =2.0  Input Group
    =3.0  Labels
    =4.0  Input Fields
    =5.0  Checkboxes and Radio Buttons
    =6.0  Buttons
    =7.0  Resource Card
    --------------------------*/


/*  =1.0  Form           
    --------------------------*/

form[class^="form-"] {
  margin-bottom:                $ui-space-base * 3;

  @include media(">desktop") {
    margin-bottom:              $ui-space-base * 4;
  }

  &:last-child {
    margin-bottom:              0;
  }
}

.form-inline {
  @include media(">tablet") {
    display:                    flex;
    flex-wrap:                  wrap;
  }

  .input-group {
    margin-bottom:              $ui-space-base * 3;
    margin-right:               0;

    @include media(">tablet") {
      margin-bottom:            0;
      margin-right:             $ui-space-base * 4;
    }
  }
}


/*  =2.0  INPUT GROUPS       
    --------------------------*/

.input-group {
  position:                     relative;
  margin-bottom:                $ui-space-base * 4;
}


/*  =3.0  LABELS        
    --------------------------*/

.input-group {
  .label {
    // Default is focused
    font-size:                  1.2rem;
    font-weight:                $type-weight-medium;
    line-height:                1.6rem;
    // Other styles
    position:                   absolute;
    left:                       16px;
    top:                        8px;
    cursor:                     text;
    transition:                 all .2s ease;
  }
}

/*  =4.0  INPUT FIELDS
    --------------------------*/

//        Base

.input-group {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="search"],
  input[type="number"],
  select {
    width:                      100%;
    box-sizing:                 border-box;
    font-size:                  inherit;
    background-color:           $brand-color-whisper;
    border:                     0;
    padding:                    $ui-space-base * 2;
    border-radius:              $ui-border-radius;
    outline:                    none;
    appearance:                 none;

    @include type-body1();

    margin-bottom:              0;

    &::placeholder {
      color:                    $brand-color-gray02;
      opacity:                  1;
      transition:               all .2s;
    }

    &:placeholder-shown:not(:focus)::placeholder {
      opacity:                  0;
    }

    &:placeholder-shown:not(:focus) {
      + .label {
        font-size:              inherit;
        font-weight:            inherit;
        line-height:            2.4rem;
        color:                  $text-color-secondary;
        left:                   0;
        top:                    0;
        padding:                $ui-space-base * 2;
        background-color:       transparent;
      }
    }

    &:focus {
      padding:                  $ui-space-base * 3 $ui-space-base * 2 $ui-space-base;

      + .label {
        color:                  $brand-color-scooter;
      }
    }
  }

  //      Select

  select {
    padding-right:              $ui-space-base * 5;
    background:                 url($svg-dropdown-caret);
    background-position:        calc(100% - #{$ui-space-base} * 1.5) center;
    background-repeat:          no-repeat;

    &:focus {
      padding:                  11px $ui-space-base * 5 11px 15px;
    }
  }

  //      Accessories

  .input-accessory {
    position:                   absolute;
    right:                      0;
    top:                        0;
    height:                     100%;
    padding-left:               $ui-space-base * 2;
    padding-right:              $ui-space-base * 2;
    display:                    flex;
    align-items:                center;

    .hide {
      display:                  none;
    }

    .show {
      display:                  block;
    }

    g, path {
      stroke:                   $text-color-secondary;
    }
  }
}


/*  =5.0  CHECKBOXES AND RADIO BUTTONS
    --------------------------*/

:not(.switch) {
  > input[type="checkbox"],
  > input[type="radio"] {
    display:                    none;

    + label {
      display:                  inline-block;
      padding-left:             $ui-space-base * 5;
      position:                 relative;
      cursor:                   pointer;

      &:before {
        content:                "";
        box-sizing:             border-box;
        width:                  $ui-space-base * 3;
        height:                 $ui-space-base * 3;
        border:                 $input-border-width solid $text-color-secondary;
        border-radius:          $ui-space-base * 1.5;
        position:               absolute;
        left:                   0;
        top:                    0;
      }
    }

    &:checked + label:before {
      background-color:         $brand-color-scooter;
      border:                   0;
    }
  }

  > input[type="checkbox"]:checked + label:before {
    background-image:           url($svg-check-mark);
  }

  > input[type="radio"]:checked + label:before {
    background-image:           url($svg-radio-mark);
  }
}


/*  =6.0  BUTTONS
    --------------------------*/

.btn {
  display:                      inline-block;
  padding:                      $ui-space-base * 1.5 $ui-space-base * 2;
  color:                        $white;
  background-color:             $brand-color-scooter;
  box-sizing:                   border-box;
  text-align:                   center;
  border:                       0;
  border-radius:                $ui-border-radius;
  transition:                   background-color 0.3s ease;
  text-transform:               uppercase;
  cursor:                       pointer;

  @include type-button();

  &:hover {
    color:                      $white;
    background-color:           darken($brand-color-scooter, 12%);
  }

  &.disabled {
    opacity:                    0.5;
  }

  &.btn-cta {
    display:                    flex;
    align-items:                center;
    justify-content:            space-between;
    padding:                    $ui-space-base * 2.5 $ui-space-base * 4;
    text-align:                 left;
  }

}


/*  =6.0  SHORT CODE COMPONENTS
    --------------------------*/

//        Resource Cards

.resource-card {
  box-sizing:                   border-box;
  border:                       $ui-border-width solid $brand-color-gray00;
  border-radius:                $ui-space-base;
  box-shadow:                   $shadow-elevation3;
  padding:                      $ui-space-base * 2.5;
  min-width:                    272px;
  max-width:                    400px;
  display:                      flex;
  margin-right:                 $ui-space-base * 2;
  margin-bottom:                $ui-space-base * 2;

  @include text-color-link();

  .resource-image {
    display:                    block;
    margin-right:               $ui-space-base * 2;
    height:                     48px;

    img {
      display:                  block;
    }
  }

  .resource-text {
    display:                    block;
  
    .resource-title {
      @include type-subheading1();

      line-height:              $type-body1-line-height;
    }
    .resource-caption {
      @include type-caption();

      display:                  block;
      color:                    $text-color-secondary;
    }
  }
}


//        Component Figures

.component-figure {
  margin:                       $ui-space-base * 4 0;

  div {
    position:                   relative;
    box-sizing:                 border-box;
    border:                     $ui-border-width solid $brand-color-gray00;
    background-color:           $brand-color-whisper;
    min-height:                 128px;
    display:                    flex;
    align-items:                center;
    align-content:              center;
    justify-content:            center;
  }

  &.component-light div {
    background-color:           $white;
  }

  &.component-dark div {
    background-color:           $brand-color-gray02;
  }

  img {
    display:                    block;
    max-width:                  100%;
    height:                     auto;
  }

  .figure-label {
    @include type-caption();

    text-align:                 center;
    color:                      $white;
    background-color:           $brand-color-gray02;
    border-radius:              12px;
    min-width:                  24px;
    height:                     24px;
    line-height:                24px;
    position:                   absolute;
    top:                        $ui-space-base * 1.5;
    left:                       $ui-space-base * 1.5;
  }

  figcaption {
    @include type-caption();

    margin-top:                 $ui-space-base;
    color:                      $text-color-secondary;
  }
}


//        Color Swatch

.color-swatch {
  box-sizing:                   border-box;
  border:                       $ui-border-width solid $brand-color-gray00;
  border-radius:                $ui-space-base;
  box-shadow:                   $shadow-elevation3;
  width:                        192px;
  overflow:                     hidden;
  display:                      inline-block;
  margin-right:                 $ui-space-base * 2;
  margin-bottom:                $ui-space-base * 2;
}

.swatch-color {
  display:                      block;
  width:                        192px;
  height:                       128px;
}

.swatch-details {
  padding:                      $ui-space-base $ui-space-base * 2.5 $ui-space-base * 2.5;
}

.swatch-name {
  @include type-body2();
}

.swatch-label {
  display:                      block;

  @include type-caption();
}


//        Image Figures

.image-figure {
  box-sizing:                   border-box;
  border:                       $ui-border-width solid $brand-color-gray00;
  border-radius:                $ui-space-base;
  box-shadow:                   $shadow-elevation3;
  margin:                       $ui-space-base * 4 0;
  display:                      flex;

  @include media(">desktop") {
    flex-wrap:                  wrap;
  }

  div {
    display:                    flex;
    align-items:                center;
    align-content:              center;
    padding:                    $ui-space-base * 8;
    box-sizing:                 border-box;

    @include media(">desktop") {
      max-width:                50%;
    }

    img {
      display:                  block;
    }
  }

  figcaption {
    padding:                    0 $ui-space-base * 4;
    box-sizing:                 border-box;

    @include type-caption();

    @include media(">desktop") {
      max-width:                50%;
    }
  }
}