{{ $class := .Get "class" }}
{{ $src := .Get "src" }}
{{ $title := .Get "title" }}
{{ $host := (urls.Parse $src).Host }}
{{ $partial := (partial (printf "%s%s%s" "svg/resource-icon-" $class ".svg" )) }}

<a href="{{ .Get " src " }}" target="_blank" class="resource-card resource-{{ $class }}">
  <div class="resource-image">
     {{ $partial }}
  </div>
  <div class="resource-text">
    <span class="resource-title">{{ $title }}</span>
    <span class="resource-caption">{{ $host }}</span>
  </div>
</a>