{{ $class := .Get "class" }}
{{ $src := .Get "src" }}
{{ $title := .Get "title" }}
{{ $host := (urls.Parse $src).Host }}

<a href="{{ $src }}" target="_blank" class="resource-card{{ with $class }} resource-{{.}}{{ end }}">
  <span class="resource-image">
    {{ if .Get "class" }}
    {{ partial (printf "%s%s%s" "svg/resource-icon-" $class ".svg" ) }}
    {{ end }}
  </span>
  <span class="resource-text">
    <span class="resource-title">{{ $title }}</span>
    <span class="resource-caption">{{ $host }}</span>
  </span>
</a>