/*  CONTENTS
    Tip:  Find to jump
    ----------------------------
    =1.0  Base
    =2.0  Branding
    =3.0  Top-level Sections
    =4.0  Subsections
    =5.0  Section-specific
    --------------------------*/


/*  Example hiearchy of layout elements:
    body
    └── main
        ├── header
        ├── article
        │   ├── .container
        │   └── section
        │       └── .container
        ├── section
        │   └── .container
        └── footer
*/


/*  =1.0  BASE          
          Base layout and colors
    --------------------------*/

//        General

html,
body {
  height:                       100%;
}

body {
  margin:                       0;
  padding:                      0;
  background-color:             $brand-color-whisper;
}


/*  =2.0  Branding         
          Logos and various brand elements
    --------------------------*/

.main-logo {
  @include media(">tablet") {
  }
}


/*  =3.0  TOP-LEVEL SECTIONS      
          Used to separate logical groups 
          of contnt at highest level
    --------------------------*/

body > header,
body > footer,
main > section {
  padding-left:                 $ui-space-base;
  padding-right:                $ui-space-base;
  box-sizing:                   border-box;

  @include media(">desktop") {
    padding-left:               $ui-space-base * 2;
    padding-right:              $ui-space-base * 2;
  }

  &.no-padding {
    padding-left:               0;
    padding-right:              0;
  }
}

main {
  > hr {
    margin-top:                 $ui-space-base * 4;
  }
}

body > header {
  border-bottom:                $ui-border-width solid $ui-border-color;
  width:                        100%;
  height:                       $main-header-height;
  padding:                      0 $ui-space-base * 2;
  display:                      flex;
  align-items:                  center;
  justify-content:              space-between;

  @include media(">tablet") {
    position:                   static;
    padding:                    0 $ui-space-base * 2;
    height:                     $ui-space-base * 10;
  }

  a, span {
    padding:                    $ui-space-base;

    @include media(">tablet") {
      padding:                  $ui-space-base * 2;
    }

    @include secondary-color-link();
  }

  .branding {
    display:                    flex;
    align-items:                center;
  }

  .menu-toggle {
    display:                    block;
    padding:                    6px 7px;
    margin-right:               $ui-space-base;

    @include media(">desktop") {
      display:                  none;
    }
  }

  .main-logo {
    display:                    flex;
    align-items:                center;
    appearance:                 none;
    color:                      $text-color-default;
    text-decoration:            none;

    @include type-body2();

    @include media(">tablet") {
      @include type-title();
    }

    svg {
      margin-right:             16px;
    }
  }
  
}


/*  =4.0  SUBSECTIONS  
          Used for sub-sections within sections
    --------------------------*/

//        Articles

main {
  > article > header {}
  > article > section {}
  > article > footer {}
}

//        Containers

.container {
  max-width:                    map-get($breakpoints, hd);
  padding-left:                 $ui-space-base;
  padding-right:                $ui-space-base;
  padding-top:                  $ui-space-base;
  padding-bottom:               $ui-space-base * 3;
  margin-left:                  auto;
  margin-right:                 auto;
  
  @include media(">tablet") {
    padding-left:               $ui-space-base * 2;
    padding-right:              $ui-space-base * 2;
    padding-top:                $ui-space-base * 2;
    padding-bottom:             $ui-space-base * 6;
  }

  @include media(">desktop") {
    padding-left:               $ui-space-base * 3;
    padding-right:              $ui-space-base * 3;
    padding-top:                $ui-space-base * 3;
    padding-bottom:             $ui-space-base * 9;
  }

  &.container-narrow {
    max-width:                  map-get($breakpoints, tablet);
  }

  &.container-flex {
    display:                    flex;
    justify-content:            space-between;
    align-items:                stretch;
    flex-wrap:                  wrap;
  }

  &.container-fluid {
    max-width:                  initial;
  }
}

//        Flex Utilities

@for $i from 0 through 5 {
  .flex-order-#{$i} {
    order: $i;
  }
}

@for $i from 0 through 5 {
  .flex-grow-#{$i} {
    flex-grow: $i;
  }
}


/*  =5.0  SECTION-SPECIFIC         
          Layout for various sections
    --------------------------*/

//        Documentation-style Wrapper

.doc-wrapper {
  padding:                      0;
  height:                       calc(100% - #{$main-header-height});

  @include media(">tablet") {
    height:                     calc(100% - #{$ui-space-base * 10});
  }
}


//        Side Navigation

.side-nav {
  background-color:             $white;
  border-right:                 $ui-border-width solid $ui-border-color;
  height:                       100%;
  overflow:                     auto;

  @include grid-col(12, 16);

  //      It's a drawer on smaller screens
  @include media("<desktop") {
    position:                   absolute;
    top:                        0;
    right:                      100%;
  }

  @include media(">phone") {
    @include grid-col(4, 16);
  }

  @include media(">desktop") {
    @include grid-col(3, 16);
  }

  @include media(">hd") {
    @include grid-col(2, 16);
  }

  &.show-side-nav {
    right:                      auto;
  }

  //      Vertical padding for first level menu
  nav > ul {
    padding-top:                $ui-space-base * 2;
    padding-bottom:             $ui-space-base * 2;
  }

  ul {
    //    Hide sub menu by default
    list-style:                 none;

    padding:                    0;
    margin:                     0;

    ul {
      display:                  none;
    }
  }

  li {
    //    Relatively positioned for absolutely positioned active indicators
    position:                   relative;

    @include type-body1();

    a {
      display:                  block;
      padding:                  $ui-space-base * 1.5 $ui-space-base * 4;
      position:                 relative;

      @include secondary-color-link();
    }

    //    Sub menus are smaller and shorter
    > ul > li,
    > ul > li > ul > li,
    > ul > li > ul > li > ul > li {
      @include type-caption();

      a {
        padding:                $ui-space-base * 1.25 $ui-space-base * 4;
        padding-left:           $ui-space-base * 6;
      }
    }
  }

  .menu-dropdown {
    display:                    block;
    position:                   absolute;
    right:                      $ui-space-base * 2;
    top:                        50%;
    margin-top:                 -16px;
    width:                      32px;
    height:                     32px;
    background-image:           url($svg-dropdown-caret);
    background-position:        center center;
    background-repeat:          no-repeat;
  }


  //      Active indicators
  .menu-active {
    &:before {
      content:                  "";
      position:                 absolute;
      width:                    $ui-space-base/2;
      height:                   $ui-space-base * 6;
      background-color:         $brand-color-scooter;
    }

    // Sub menu active indicators are shorter
    .menu-active:before {
      height:                   $ui-space-base * 4;
    }

    > a {
      color:                    $text-color-default;
    }

    .menu-dropdown {
      opacity:                  0.8;
    }

    // Show sub menu only when parent is active
    ul {
      display:                  block;
    }
  }
}


//        Main content element (can only have 1)

main {
  height:                       100%;
  overflow:                     auto;
  background-color:             $white;

  // Full width on mobile
  @include grid-col(16, 16);

  // Columns on bigger screens
  @include media(">desktop") {
    @include grid-col(13, 16);
  }

  @include media(">hd") {
    @include grid-col(14, 16);
  }
}


//        Hero

.hero {
  background-color:             $brand-color-whisper;
  background-image:             url($svg-hero-bg);
  background-position:          right bottom;
  background-repeat:            no-repeat;
  border-bottom:                $ui-border-width solid $ui-border-color;

  .container {
    height:                     $ui-space-base * 40;
    align-items:                center;
    align-content:              center;

    @include media(">desktop") {
      height:                   $ui-space-base * 48;
      padding-left:             $ui-space-base * 6;
      padding-right:            $ui-space-base * 6;
    }
  }

  h1 {
    margin-top:                 0;
  }

  .hero-actions {
    margin-top:                 $ui-space-base * 4;
  }
}


//        Footer

main > footer {
  border-top:                   $ui-border-width solid $ui-border-color;
  height:                       $ui-space-base * 20;
  display:                      flex;
  align-items:                  center;
  align-content:                center;
  justify-content:              center;

  p {
    margin:                     0;
  }
}


//        Table of Contents

.toc {
  margin-top:                   $ui-space-base * 6;

  ul, li {
    padding:                    0;
    margin:                     0;
    list-style:                 none;
  }

  a {
    color:                      $text-color-secondary;
  }
}