/*  CONTENTS
    Tip:  Find to jump
    ----------------------------
    =1.0  Base
    =2.0  Branding
    =3.0  Top-level Sections
    =4.0  Subsections
    =5.0  Section-specific
    --------------------------*/


/*  Example hiearchy of layout elements:
    body
    └── main
        ├── header
        ├── article
        │   ├── .container
        │   └── section
        │       └── .container
        ├── section
        │   └── .container
        └── footer
*/


/*  =1.0  BASE          
          Base layout and colors
    --------------------------*/

//        General

html,
body {
  height:                       100%;
}

body {
  margin:                       0;
  padding:                      0;
  background-color:             $white;
}


/*  =2.0  Branding         
          Logos and various brand elements
    --------------------------*/

.main-logo {
  @include media(">tablet") {
  }
}


/*  =3.0  TOP-LEVEL SECTIONS      
          Used to separate logical groups 
          of contnt at highest level
    --------------------------*/

body > header,
body > footer,
main > section {
  padding-left:                 $ui-space-base * 3;
  padding-right:                $ui-space-base * 3;
  box-sizing:                   border-box;

  @include media(">desktop") {
    padding-left:               $ui-space-base * 4;
    padding-right:              $ui-space-base * 4;
  }

  &.no-padding {
    padding-left:               0;
    padding-right:              0;
  }
}

main > hr {
  margin-top:                 $ui-space-base * 4;
}

body > header {
  width:                        100%;
  height:                       $main-header-height;
  padding:                      0 $ui-space-base;
  border-bottom:                $ui-border-width solid $ui-border-color;
  display:                      flex;
  align-items:                  center;
  justify-content:              space-between;

  @include media(">tablet") {
    position:                   static;
    padding:                    0 $ui-space-base * 2;
    height:                     $ui-space-base * 10;
  }

  a, span {
    padding:                    $ui-space-base;

    @include media(">tablet") {
      padding:                  $ui-space-base * 2;
    }
  }

  .main-logo {
    display:                    flex;
    align-items:                center;
    appearance:                 none;
    color:                      $text-color-default;
    text-decoration:            none;

    @include type-title();

    svg {
      margin-right:             16px;
    }
  }
  
}


/*  =4.0  SUBSECTIONS  
          Used for sub-sections within sections
    --------------------------*/

//        Articles

main {
  > article > header {}
  > article > section {}
  > article > footer {}
}

//        Containers

.container {
  max-width:                    map-get($breakpoints, hd);
  padding-left:                 $ui-space-base * 3;
  padding-right:                $ui-space-base * 3;
  padding-top:                  $ui-space-base * 3;
  padding-bottom:               $ui-space-base * 3;
  margin-left:                  auto;
  margin-right:                 auto;
  
  @include media(">desktop") {
    padding-left:               $ui-space-base * 4;
    padding-right:              $ui-space-base * 4;
    padding-top:                $ui-space-base * 4;
    padding-bottom:             $ui-space-base * 4;
  }

  &.container-narrow {
    max-width:                  map-get($breakpoints, tablet);
  }

  &.container-flex {
    display:                    flex;
    justify-content:            space-between;
    align-items:                stretch;
    flex-wrap:                  wrap;
  }

  //      Images in containers

  img {
    @include media("<tablet") {
      width:                    100%;
      height:                   auto;
    }
  }
}

//        Flex Utilities

@for $i from 0 through 5 {
  .flex-order-#{$i} {
    order: $i;
  }
}

@for $i from 0 through 5 {
  .flex-grow-#{$i} {
    flex-grow: $i;
  }
}


/*  =5.0  SECTION-SPECIFIC         
          Layout for various sections
    --------------------------*/

//        Documentation-style Wrapper

.doc-wrapper {
  padding:                      0;
  height:                   calc(100% - #{$main-header-height});

  @include media(">tablet") {
    height:                 calc(100% - #{$ui-space-base * 10});
  }
}

//        Side Navigation

.side-nav {
  border-right:                 $ui-border-width solid $ui-border-color;
  height:                       100%;
  overflow:                     auto;

  @include grid-col(10, 16);

  @include media(">phone") {
    @include grid-col(3, 16);
  }

  @include media(">desktop") {
    @include grid-col(4, 16);
  }

  @include media(">hd") {
    @include grid-col(3, 16);
  }

  ul {
    list-style:                 none;
    padding:                    0;
    margin:                     0;
  }

  nav > ul {
    padding-top:                $ui-space-base * 4;
    padding-bottom:             $ui-space-base * 4;
  }

  li {
    @include type-subheading1();

    a {
      color:                    $text-color-default;
      display:                  block;
      padding:                  $ui-space-base * 1.5 $ui-space-base * 4;
    }

    > ul > li,
    > ul > li > ul > li,
    > ul > li > ul > li > ul > li {
      @include type-body1();

      a {
        padding:                $ui-space-base * 1.25 $ui-space-base * 4;
        padding-left:           $ui-space-base * 6;
      }
    }
  }
}

.side-nav ~ main {
  height:                       100%;
  overflow:                     auto;

  @include grid-col(16, 16);

  @include media(">phone") {
    @include grid-col(16, 16);
  }

  @include media(">desktop") {
    @include grid-col(12, 16);
  }

  @include media(">hd") {
    @include grid-col(13, 16);
  }
}

//        Footer

main > footer {
  height:                       $ui-space-base * 10;
  display:                      flex;
  align-items:                  center;
  align-content:                center;
  justify-content:              center;

  @include media("<tablet") {
    height:                     $ui-space-base * 20;
    padding-bottom:             $ui-space-base * 12;
  }

  p {
    margin:                     0;
  }
}